<a href="https://colab.research.google.com/github/carneiro-fernando/EBAC/blob/main/Exercicios/Modulo_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Visualização Interativa de Dados
Caderno de **Exercícios**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Google Data Studio;</li>
  <li>Dados;</li>
  <li>Relatório.</li>
</ol>

---

# **Exercícios**

## 1\. Contexto

Você é o analista de dados de um grande aeroporto. O time de operações precisa acompanhar o fluxo mensal de passageiros para tomar decisões sobre manutenção, obras, etc. Você propõe a construção de um *dashboard* de dados para auxiliar o time na tomada de decisão.

## 2\. Preparação

Carregue as bibliotecas Python de manipulação de dados.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime

### **2.1. Extração**

Carregue os dados de **voos** (*flights*) e responda as perguntas abaixo:

In [ ]:
flights = sns.load_dataset('flights')

In [ ]:
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [ ]:
flights.tail()

     year month  passengers
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

Responda:

 - Qual é a granularidade temporal da base de dados: **Mensal**
 - Qual é o intervalo de tempo (min/max): **Janeiro de 1949 a Dezembro de 1960**

### **2.2. Transformação**

Tranforme o texto da coluna `month` para sua representação numérica, exemplo: `Jan` para `1` e `Dec` para `12`.

In [ ]:
# Transformação usando o método 'strptime' que converte string para formato de data, e '.month' separa somente o mês do valor.
flights['month'] = flights['month'].apply(lambda num: datetime.strptime(num, '%b').month)

Crie uma **chave temporal** `year-month` no formato `YYYY-MM` através da concatenação das colunas `year` e `month`, exemplo: `1949-01`.

In [ ]:
# Convertendo para string e mesclando as duas colunas
year_month = flights['year'].astype(str) + '-' + flights['month'].astype(str)

In [ ]:
# Transformando de string para um formato de data
year_month = year_month.apply(lambda x: datetime.strptime(x, '%Y-%m'))

In [ ]:
# Formatando a data para YYYY-MM
year_month = year_month.apply(lambda x: datetime.strftime(x, '%Y-%m'))

In [ ]:
# Adicionando ao dataframe como coluna
flights['year-month'] = year_month

In [ ]:
# Definindo a coluna adicionada como índice
flights = flights.set_index(keys=['year-month'])

Reordene as colunas da seguinte forma: `year-month`, `year`, `month` e `passengers`.

In [ ]:
flights.head(13)

            year month  passengers
year-month
1949-01     1949     1         112
1949-02     1949     2         118
1949-03     1949     3         132
1949-04     1949     4         129
1949-05     1949     5         121
1949-06     1949     6         135
1949-07     1949     7         148
1949-08     1949     8         148
1949-09     1949     9         136
1949-10     1949    10         119
1949-11     1949    11         104
1949-12     1949    12         118
1950-01     1950     1         115

### **2.3. Carregamento**

Persista o DataFrame em um arquivo com o nome `flights.csv`, no formato CSV. Garanta que o índice será descartado.

In [ ]:
flights.to_csv('./flights.csv')

## 3\. Dashboard

Conduza os items **3.1** e **3.2** no [Google Data Studio](https://datastudio.google.com/).

### **3.1. Fonte de dados**

Crie a fonte de dados `flights-data` através do *upload* do arquivo `flights.csv`.

### **3.2. Relatório**

Crie o relatório `flights-report` utilizando a fonte de dados `flights-data`. Edite o relatório conforme sua criatividade (texto, cores, etc.). Compartilhe o relatório e copie o link abaixo:

 - KPI

Crie um filtro a nível de página com a dimensão `year`. Adicione um `scorecard` com uma `métrica` que represente a `soma dos passageiros em um determinado ano`. Note que o valor do `scorecard` deve ser dinâmico, ou seja, deve se alterar com o filtro temporal `year`.

 - EDA

Adicione um gráfico de série temporal (*time series chart*) utilizando com dimensão a coluna `year-month` e como métrica a soma da dimensão `passengers`. Note que o valor do gráfico deve ser dinâmico, ou seja, deve se alterar com o filtro temporal `year`.

 - Link

 > Link do relatório: **[https://lookerstudio.google.com/reporting/af257cbb-3861-4bef-9b4a-5822e7b87bf7](https://lookerstudio.google.com/reporting/af257cbb-3861-4bef-9b4a-5822e7b87bf7)**

---